<ng-container *ngIf="authService.loggedIn()">
    <button type="button" routerLink="/home">Home</button>&nbsp;
    <button type="button" routerLink="/about">About</button>&nbsp;
    <button type="button" (click)="logout()">Logout</button>
</ng-container>

<router-outlet></router-outlet>