<h1>Login Page</h1>

<form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div>
        <label>Username:</label><br>
        <input type="text" formControlName="username">
    </div><br>

    <div>
        <label>Password:</label><br>
        <input type="password" formControlName="password">
    </div><br>

    <button type="submit">Login</button>
</form>